# Will be relevant on clangd 21 - see:
# 1. https://github.com/llvm/llvm-project/pull/129459
# 2. https://clangd.llvm.org/config#builtinheaders
CompileFlags:
  BuiltinHeaders: QueryDriver


Completion:
  AllScopes: Yes
  ArgumentLists: FullPlaceholders
  HeaderInsertion: IWYU
  CodePatterns: All