# Build output
build/

# Makefiles
Makefile
*.make

# Ninja Build Files
.ninja_deps
.ninja_log
*.ninja

# Visual Studio Code files
# .vscode/launch.json
# .vscode/settings.json

# clangd Compilation Database
.vscode/compile_commands

# Visual Studio files
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user


# misc